page-detail-bintan {
    .toolbar-background-md {
        border-color: #68a2ff;
        background: #68a2ff;
    }
    .toolbar-title-md{
        color: white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    h5{
        color:grey; 
        text-align:center;
    }
}
