<!--
  Generated template for the ContactEditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content text-center padding>
  
    

      <img src="assets/img/profile.png" *ngIf="!image" class="Pict" (click)="updatePicture()"/>
      <img [src]="image" *ngIf="image" class="Pict" (click)="updatePicture()"/>

    <ion-item>
      <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Nama</ion-label>
      <ion-input type="text" [(ngModel)]="nama" name="Nama" value="{{nama}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Username</ion-label>
      <ion-input type="text" name="username" value="{{username}}" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"  name="password" value="{{password}}" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Nomor Telepon</ion-label>
      <ion-input type="text" [(ngModel)]="hp" name="No. Hp" value="{{hp}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked style="color:#3bc7bc; font-size: 3vw;">Email</ion-label>
      <ion-input type="text" name="Email" value="{{email}}" readonly></ion-input>
    </ion-item>

    <!-- <ion-item>
      <p style="color:#C3BDBD; font-size: 12px;">Provinsi</p>
      <h2> {{provinsi}} </h2>
    </ion-item> -->
<!-- <ion-select [(ngModel)]="bank" name="Pilihan Bank" (ionChange)="cekBank()" type="text" [ngModelOptions]="{standalone: true}" class="Head2"> -->   
       

   

    

<div padding>
    <button class="MainButton"color="sumbangin" type="submit" ion-button block (click)="edit()">Update Profile</button>
</div>
