page-bintan {
    #scroll {
        width:500px;
        height:100px;
        //margin:100px auto;
        //background:#A3CBE0;
        //border:2px solid #000;
        overflow:auto;
        white-space:nowrap;
        //box-shadow:0 0 10px #000;
        }
        #scroll img {
        margin:10px 10px 0 0px;
        }

        h5.h5{
            color:grey; 
            text-align:center;
          }

    .image{
        border-radius: 10px;
                
    }
}
