page-home {
    .toolbar-background-md {
        border-color: #68a2ff;
        background: #68a2ff;
    }
    .toolbar-title-md{
        color: white;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }

 //   * {
//margin:0;
//padding:0;
//}
//body {
//text-align:center;
//padding-top:25px;
//}
#scroll {
width:500px;
height:100px;
//margin:100px auto;
//background:#A3CBE0;
//border:2px solid #000;
overflow:auto;
white-space:nowrap;
//box-shadow:0 0 10px #000;
}
#scroll img {
margin:10px 10px 0 0px;
}
	
}

