<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="../assets/img/profile.png" *ngIf="!image" class="Pict" />
  <!-- <img [src]="image" *ngIf="image" class="Pict"/> -->

  <ion-item no-lines>
    <p style="color:#3bc7bc; font-size: 3vw;">Nama Lengkap</p>
    <h2 class="Content"> {{users.name}} </h2>
  </ion-item>

<!-- 
  <ion-item no-lines>
    <p style="color:#3bc7bc; font-size: 3vw;">Username</p>
    <h2 class="Content"> {{username}} </h2>
  </ion-item> -->

  <ion-item no-lines>
    <p style="color:#3bc7bc; font-size: 3vw;">Nomor Telepon</p>
    <h2 class="Content"> {{users.hp}} </h2>
  </ion-item>
  
  <ion-item no-lines>
    <p style="color:#3bc7bc; font-size: 3vw;">Email</p>
    <h2 class="Content"> {{email}} </h2>
  </ion-item>
  
  <ion-item no-lines>
    <p style="color:#3bc7bc; font-size: 3vw;">Jenis Kelamin</p>
    <h2 class="Content"> {{users.gender}} </h2>
  </ion-item>


  
<div padding>
  <button class="edit" color="sumbangin" ion-button block (click)="edit()">Edit Profile</button>
  <br />
  <button class="logOut" ion-button color="danger" block (click)='LogOut()'>Log Out</button>
</div>
</ion-content>
