page-signup {

	.Head {
        font-size: 4vw;
        color: blue;
    }
	.Head2 {
        font-size: 5vw;
        color: black;
    }
	.HeadButton {
        font-size: 5vw;
        color: white;
    }
}
